@import "normalize.css";
@import "../Assets/Fonts/vazir-fonts/fonts.css";
@import "../Assets/font/flaticon.css";

body {
    background-color: #F7FFF7 !important;
    font-size: 1vw !important;
}

div {
    position: relative;
}

* {
    box-sizing: border-box;
    direction: rtl;
    font-family: Vazir;
}

.logo {
    width: 1.7em;
    height: 1.7em;
}

.navbar-expand-sm {
    padding: 0.1em;
}

.navbar-nav {
    padding-top: 0.1em;
    padding-left: 2em;
    font-size: 2vh;
}

.navbar-nav li a {
    color:  #363636;
}

.navbar-nav li a.logout {
    color:  #FF6B6B !important;
}

.navbar-nav li i{
    display: inline-block;
    position: relative;
    padding-right: 0.6em;
    padding-top: 0.2em;
}

.count-badge {
    background-color: #4ECDC4;
    border-radius: 100%;
    color: white;
    padding: 0.1em 0.5em;
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-0.3em, 0.3em);
}

header{
    background:  #ff6b6b;
    color: white;
    position: relative;
    width: 100%;
    min-height: 14em;
    overflow: hidden;
    margin-top: 1em;
}

.banner div {
    float: right;
    font-size: 1.8em;
    text-align: right;
    position: relative;
    padding: 3em 1em 1em 4em;
}

.banner div ul{
    padding-bottom: 0%;
    font-weight: 100;
    font-size: 0.6em;
    list-style-type: none;
    text-align: right;
}

.banner div:nth-child(1) {
    width: 60%;
}

.banner div:nth-child(2) {
    width: 40%;
}

.flaticon-account::before {
    font-size: 1.8em !important;
    padding: 0% !important;
    display: inline !important;
}


.bold {
    font-weight: bold !important;
}

h1, h2 {
   text-align: center;
}

.warpper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 10em;
}

.tab{
    cursor: pointer;
    padding: 1em 0%;
    text-align: center;
    background:#fff;
    display: inline-block;
    position: relative;
    color:#000;
    border-radius: 0.3em;
    box-shadow: 0 0.02em 0.1em 0.01em #00000084;
    width: 12em;
    transform: translateY(2em);
    z-index: 1;
    font-size: 1em;
}

.panels{
    background:#fffffff6;
    border: 0.05em solid rgba(120, 120, 120, 0.428);
    width: 100%;
    max-width: 40em;
    border-radius: 1.5em;
    overflow: hidden;
    padding: 4em;
}

.panel{
    display:none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.panel-title{
    font-size:1.5em;
    font-weight:bold
}

.radio{
    display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
    display:block
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
    background:#ff6b6b;
    color:#fff;
    border-radius: 0.3em;
    left: 0%;
    right: 0%;
}

.form-inline {
    padding-top: 1em;
    padding-bottom: 1em;
}

button {
    font-size: 1em !important;
}

.cyan-btn {
    background-color: #4ECDC4 !important;
    border-radius: 0.3em !important;
    color: white !important;
    min-width: 8em !important;
    border: 0.1em solid #4ECDC4 !important;
}

.cyan-btn:hover {
    background-color: rgb(46, 142, 135) !important;
    border: 0.1em solid rgb(46, 142, 135) !important;
}

form#credit .cyan-btn {
    margin-right: 2em !important;
    font-size: 1em !important;
}

.col-bordered {
    border: 0.05em solid lightgray;
}

.col-1 {
    border-top-right-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
    border-left: none;
}

.col-4 {
    border-top-left-radius: 0.5em !important;
    border-bottom-left-radius: 0.5em !important;
    border-right: none;
}

.col-bordered {
    padding: 0.4em;
    text-align: center;
}

.row {
    padding-bottom: 0em !important;
}

.small-btn {
    border-radius: 0.5em;
    font-size: 0.7em !important;
    border: none;
    padding: 0.5em 1.4em;
    text-align: center;
}

.green-btn {
    background: #ccffc7;
    color: darkgreen;
}

.blue-btn {
    background: #d2fffc;
    color: darkcyan;
}

.yellow-btn {
    box-shadow: 0 0.02em 0.1em 0.01em #00000084;
    background: #FFE66D;
}

.yellow-btn:hover {
    background: rgb(238, 208, 58);
}

footer {
    background: #1A535C;
    color: white;
    font-size: 1vw;
    font-weight: 100;
    padding: 0.8em;
    text-align: center;
    box-shadow:0 0 0.5em rgba(0, 0, 0, 0.8);
}

.card img {
    height: 5em;
    width: 5em;
    border-radius: 0.5em;
    margin-right: 0.5em;
}

.shadow-box {
    box-shadow: 0.01em 0.01em 0.4em 0.01em #00000034;
}

.card {
    align-items: center;
    padding: 2em;
    border-radius: 0.5em;
    background: white;
    border: none;
}

.menu {
    text-align: center;
}

.right-dashed-border {
    padding-right: 2em;
    border-right: 0.2em dashed #36363637;
}

.rating img {
    width: 1em !important;
    height: 1em !important;
}

.food-title {
    padding: 0.2em;
    font-size: 1.5em;
}

.restaurant-title {
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.inline {
    display: inline-block;
}

.rating {
    padding-right: 1em;
    font-size: 1em;
    font-weight: 100;
}

.menu .card {
    height: 90%;
}

.menu .card h6 {
    font-weight: 200;
    font-size: 1.2em;
    padding-bottom: 0.8em;
}

.card .yellow-btn {
    box-shadow: none;
    padding: 0.2em 0.9em;
    font-weight: bold;
    font-size: 1.2em;
    color: #313131de;
}

.yellow-btn:disabled, .cyan-btn:disabled {
    background: lightgray !important;
    border: 0.1em solid lightgray !important;
}

#restaurant-div {
    padding: 2em 4em 10em 2em;
}

.menu .title {
    font-size: 2.5em;
    color: #1A535C;
    font-weight: bold;
    border-bottom: 0.08em solid #1A535C;
    display: inline-block;
    padding-right: 0.8em;
    padding-left: 0.8em;
}

#restaurant-div #cart {
    padding-top: 5.5em;
    padding-left: 0%;
}

#restaurant-div #cart .title {
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: 0.08em solid rgba(66, 66, 66, 0.36);
    display: inline-block;
    padding-right: 0.8em;
    padding-left: 0.8em;
}

#cart .card-body {
    width: 100%;
    padding-top: 1em;
    text-align: center;
}

.dashed-div {
    border: 0.1em dashed #36363647;
    border-radius: 1.5em;
    text-align: center;
    padding: 1em;
    font-weight: 300;
    font-size: 1.5em;
}

.dashed-div div {
    border-bottom: 0.08em solid rgba(54, 54, 54, 0.442);
    padding-top: 0.4em;
}

.plus-minus {
    float: left;
    font-size: 1em;
}

.plus-minus i.flaticon-plus {
    color: #1A535C;
    font-weight: 100;
    padding-left: 0;
    text-align: left;
    display: inline;
}

.plus-minus i.flaticon-minus {
    color: #ff6b6b;
    font-weight: 100;
    display: inline;
}

.dashed-div .price {
    font-size: 0.7em;
    font-weight: 100;
    text-align: left;
    padding-left: 1.2em;
}

#cart .card-body .sum {
    font-size: 1.5em;
    padding-top: 0.6em;
}

.sum p {
    display: inline;
    padding-right: 0%;
}

#cart button {
    font-size: 1.6em !important;
    margin-right: 0% !important;
    font-weight: 500 !important;
    width: auto !important;
    padding: 0.2em 1em !important;
}

.menu .col-sm-4 {
    padding: 0.5em 0.1em !important;
}

.menu .row {
    padding: 1em 0%;
}

.restaurant-logo figure {
    text-align: center;
    margin-top: 4em;
}

.restaurant-logo img {
    z-index: 1;
    border: 0.4em solid white;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    text-align: center;
}

.restaurant-logo figcaption {
    font-weight: bold;
    font-size: 2em;
    color: black;
    padding-top: 0.5em;
}

header .cover {
    opacity: 0.5;
    object-fit: cover;
    width: 100%;
    max-height: 17em;
    position: relative;
    margin-top: 1.5em;
}

.title-description {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.title-description figcaption {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
    0px 8px 10px rgba(0,0,0,0.1),
    0px 5px 23px rgba(0,0,0,0.1);
    color: white;
}

.title-description figure {
    position: relative;
    text-align: center;
}

.title-description .figure-img {
    width: 4em;
    height: 4em;
}

form#login .btn, form#signup .btn {
    margin-top: 2em !important;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    padding: 2vh 1vh;
    margin-bottom: 5vh;
}

.centered-flex {
    display: flex;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search form {
    z-index: 1;
    position: relative;
    background: white;
    padding: 1em;
    border-radius: 0.4em;
    width: fit-content;
}

.search button {
    background: #FFE66D !important;
    color: #1A535C !important;
    font-weight: 500 !important;
    font-size: 1em !important;
    padding: 1vh 2vh;
}

.search input, .search input::placeholder {
    margin-left: 0.5em !important;
    font-size: 1em !important;
    color: #8e8d8d !important;
    text-align: center;
    padding: 1.25em 0.3em !important;
    font-weight: 500 !important;
    border-radius: 0.4em;
}


.scrolling-wrapper .card {
    margin-left: 5vh;
    display: inline-block;
    padding: 0% !important;
    overflow: hidden;
}

.scrolling-wrapper .container-fluid {
    width: 20%;
}

.scrolling-wrapper .col-sm-2:nth-child(2) {
    margin-right: 3em;
}

.scrolling-wrapper .price-old-new {
    margin-right: 25%;
}

.scrolling-wrapper .food-title {
    font-size: 1.2em;
}

.scrolling-wrapper::-webkit-scrollbar {
    width: 1em;
    height: 0.3em;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: white;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.timer {
    padding: 0.2em 0.5em;
    color: #1A535C;
    font-weight: lighter;
    border: 0.1em solid #1A535C;
    border-radius: 0.4em;
    width: fit-content;
    position: relative;
    margin-top: 3em;
    background: rgb(233, 253, 233);
}

.dashed-top {
    border-top: 0.5vh dashed rgba(62, 62, 62, 0.313);
}

.menu button {
    font-size: 1.2em !important;
    padding: 0.2em 2em;
    min-width: fit-content !important;
    border-radius: 0.5em !important;
}

.scrolling-wrapper button {
    font-size: 0.8em !important;
}

.in-stock {
    color: rgba(69, 69, 69, 0.694) !important;
    border: 0.1em solid rgba(94, 94, 94, 0.217);
    background: #F7FFF7 !important;
    border-radius: 0.3em;
}

.striked-through {
    text-decoration: line-through;
    text-decoration-color: red;
}

.price-old-new {
    display: flex;
    align-items: right;
    list-style-type: none;
    color: darkgray;
    font-size: 1.5em;
    padding-right: 0%;
}

.price-old-new li:nth-child(2) {
    display: inline;
    margin-right: 4vh;
    color: black;
}

.card span {
    position: relative;
    display: block;
}

.modal h2 {
    font-weight: normal !important;
}

.modal-content {
    border-radius: 1.8em !important;
}

tr th, tr td {
    padding: 0.2em !important;
}

thead tr th {
    color: #383838 !important;
    font-weight: lighter !important;
}

.thin {
    border-top: 0.05em solid #56565634;
    width: 80%;
}

#foodDetails img {
    width: 7rem;
    height: 7rem;
    border-radius: 0.7em;
}

#foodDetails h3 {
    text-align: center !important;
}

#foodDetails .col-sm-9 {
    padding-right: 3rem !important;
    text-align: right !important;
}

#foodDetails .food-title {
    margin: 0 auto;
}

#foodDetails button {
    font-size: 0.8rem !important;
}

.col-sm-2 .col-sm-2:nth-child(2) {
    margin-right: 3em !important;
}

#foodDetails .col-sm-6:nth-child(2){
    text-align: right !important;
    margin-right: -10% !important;
    float: right !important;
    font-size: 2vmin !important;
}

#restaurant-div .card {
    width: 90% !important;
    padding: 1em !important;
}

#restaurant-div .card img {
    height: 12vmin;
    width: 12vmin;
}

#restaurant-div .rating {
    font-size: 1em;
    padding: 0.8em;
}